/* html-css.html */
.html-css #showcase {
  background: url(/imgs/padding-margin/padding-margin-border.webp) no-repeat
    center center/cover;
  margin: 20px 0;
  height: 500px;
}

/* learning-plan.html */
.learning-plan #showcase {
  background: url(/imgs/learning-plan.avif) no-repeat center center/cover;
  margin: 20px 0;
  height: 500px;
}

/* identity-values.html */
.identity-values #showcase {
  background: url(/imgs/idntity.jpeg) no-repeat center center/cover;
  margin: 20px 0;
  height: 500px;
}
