@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');

:root {
  --primary-color: #ffffec;
  --secondary-color: #f1e4c3;
  --third-color: #c6a969;
  --fourth-color: #597e52;
  --light-color: #fff;
  --dark-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  color: var(--dark-color);
  font-family: 'Instrument Serif', serif;
  letter-spacing: 0.35px;
}

html {
  scroll-behavior: smooth;
}

/* Core styles */

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.container {
  max-width: 1100px;
  margin: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  background-color: var(--third-color);
  color: var(--primary-color);
  padding: 5px 15px;
  font-size: 1.1rem;
  border-radius: 50px;
}

.btn:active {
  transform: scale(0.98);
}

/* Navigation */
.nav {
  background-color: var(--third-color);
  position: fixed;
  z-index: 100;
  width: 100%;
}

.main-nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  z-index: 100;
}

.name a {
  font-size: 2rem;
  color: #000;
}

.name a span {
  color: var(--primary-color);
}

.main-nav ul {
  display: flex;
}

.main-nav ul li a {
  color: var(--primary-color);
  font-size: 1.3rem;
  padding: 10px 20px;
  margin: 0 10px;
  border-bottom: transparent 1px solid;
  transition: 0.3s border-bottom ease;
}

.main-nav ul li a:hover,
.main-nav ul li a.active {
  border-bottom: var(--fourth-color) 1px solid;
}

/* Index.html */

/* Showcase */

#showcase {
  position: relative;
  background: url(/imgs/IMG_4255.jpg) no-repeat center center/cover;
  color: var(--primary-color);
  height: 90vh;
}

#showcase::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--primary-color);
}

.content h1 {
  font-size: 4rem;
  font-family: 'Instrument Serif', serif;
  z-index: 10;
}

.content h1 span {
  color: var(--third-color);
}

/* Posts */
#posts {
  margin: 70px 0;
}

.card {
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.card img {
  width: 200px;
  max-height: 250px;
}

.card .profile {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 10px;
  font-size: 1.2rem;
}

.card .profile i {
  margin-right: 5px;
  color: var(--fourth-color);
}

.card a h1 {
  color: var(--fourth-color);
  margin: 5px 0 15px 0;
  font-size: 2.7rem;
  text-align: center;
}

.card p {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

/* Tech */
#title {
  height: 50vh;
}

.title-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110%;
  border-bottom: var(--fourth-color) 1px solid;
}

.title-content h1 {
  font-size: 5rem;
  margin-top: 60px;
  background: linear-gradient(
    to bottom right,
    var(--third-color) 0%,
    var(--secondary-color) 50%,
    var(--third-color) 100%
  );
  color: var(--primary-color);
  padding: 4rem 2rem;
  border-radius: 10px;
}

#tech .card {
  margin: 20px 0 0 0;
}

/* Core */
#core .title-content h1 {
  background: linear-gradient(
    to bottom right,
    var(--fourth-color) 0%,
    var(--third-color) 50%,
    var(--fourth-color) 100%
  );
}

#core .card {
  margin: 20px 0 0 0;
}

/* Blog page */
#blog-post {
  .nav {
    position: static;
  }

  #showcase {
    margin: 20px 0;
    height: 500px;
  }

  .content h2,
  .content h3,
  .content p,
  .content small {
    z-index: 10;
    color: #cbcbcb;
  }

  & h1 {
    margin-bottom: 20px;
  }

  .p-content {
    margin: 50px 0;

    & h1 {
      font-size: 2.2rem;
    }
  }

  p {
    font-size: 1.3rem;
    margin: 20px 0;
  }

  .profile {
    display: flex;
    align-items: center;
    justify-content: center;

    & p {
      margin: 0 10px 20px 10px;
      color: #757575;
    }
  }
}

/* Footer */
#footer {
  height: 150px;
  background-color: var(--secondary-color);
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer-content a {
  margin-bottom: 15px;
}

.footer-content .btn {
  background-color: var(--fourth-color);
  padding: 5px 10px;
  border-radius: 50%;
}

.footer-content span {
  color: var(--primary-color);
}

/* Media Quires */

@media (max-width: 768px) {
  .container {
    max-width: 600px;
  }

  .grid-3 {
    grid-template-columns: repeat(1, 1fr);
  }

  .card .profile {
    width: 60%;
  }
}

@media (max-width: 425px) {
  .container {
    max-width: 400px;
  }

  .main-nav {
    height: auto;
    flex-direction: column;
    padding-bottom: 5px;
  }

  .main-nav ul li a {
    border-bottom: none;
    transition: 0.3s color ease;
  }

  .main-nav ul li a:hover,
  .main-nav ul li a.active {
    color: var(--fourth-color);
    border-bottom: none;
  }

  /* Tech */
  .title-content h1 {
    font-size: 2.5rem;
  }

  /* Blog post */
  #blog-post .content {
    & h1 {
      font-size: 2rem;
      text-align: center;
    }

    & h3 {
      font-size: 1rem;
      text-align: center;
    }
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 300px;
  }

  .title-content h1 {
    font-size: 2rem;
  }

  .card img {
    width: 190px;
    max-height: 225px;
  }

  .card .profile {
    width: 80%;
  }

  .card .profile p {
    font-size: 0.9rem;
  }
}
